
 .container{
    /*max-width: 100%;*/
 }

a {	
    text-decoration: none;
    color: #4b4b4b;
 }

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    list-style: none;
    margin: 0 0 0 15px;
}

.gazou{
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

.container1{
    display: flex;
    justify-content: center;
}

.container3{
    display: flex;
    flex-direction: column;
}

h2{
    
    border-bottom: solid 1px #555;
    width: 90px;
    display: inline;
}

.container2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer{
    text-align: center;
    font-size: 10px;
    margin: 50px 0 0 0;
}

header .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper{
    max-width: 100%;
    text-align: center;
}

.window1{
    margin-right: 20px;
}

.window2{
    margin-right: 20px;
}

.kakeru{
    margin-top: 10px;
}

.oya{
    margin-right: 60px;
}


@media screen and (max-width:639px) {
    /*スマホ用のcssを記述*/
    }

@media only screen and (min-width:640px) and (max-width:1023px) {
        /*tablet用のcssを記述*/
    }
          
@media screen and (min-width:1024px) {
        /*pc用のcssを記述*/
    }
        