li{
    list-style: none;
    float: right;
    margin: 30px 170px 0 0;
}


.gazou{
    border-radius: 50%;
}

.header-logo{
    margin: 0 0 0 165px;
}

h2{
    text-align: center;
    border-bottom: 1px solid;
}

footer{
    text-align: center;
    font-size: 10px;
}